<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<style>
    .text-white{
        color:white
    }
</style>

<body style="background-color: #053B50;">

    <nav class="navbar sticky-top  navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">My Book Recommender</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/recommend">Recommend</a>
              <a class="nav-link" href="#">Contact</a>
            </div>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size: 50px;margin-top: 20px;">Top 50 Books</h1>
            </div>

            {% for i in range(book_name|length) %}
            <div class="col-md-3" style="margin-top: 30px;">
                <div class="card" style="background-color: #176B87 ; border-radius: 25px;">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ image[i] }}">
                        <h3 style="margin-bottom: 20px; font-size: 23px; margin-top: 10px; color:#EEEEEE;">{{ book_name[i] }}</h3>
                        <h5>{{author[i]}}</h5>
                        <h5>votes - {{ votes[i] }}</h5>
                        <h5>rating - {{ rating[i]|float|round(1) }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
    
</body>
</html>